.button4{
    
    border: 6px groove #edfd06;
    border-radius: 100vh;
    /*追加*/width: 300px;
    /*追加*/text-align: center;
    color: rgb(14, 1, 1);
    padding: 5px 10px;
    border: none;
    background: rgb(238, 250, 6);
}